<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="app-logo" routerLink="/">{{ "APP.TITLE" | translate }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span id="this-hamburger-icon" class="fa-solid fa-bars"></span>
      </button>

      <!-- Desktop search form -->
      <form id="this-desktop-search" class="d-none d-lg-flex" role="search">
        <input
          class="form-control"
          type="search"
          placeholder="{{ 'HEADER.SEARCH' | translate }}"
          aria-label="Search"
        />
        <button class="btn" type="submit">
          <span class="fa-solid fas fa-search"></span>
        </button>
      </form>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Mobile search form -->
        <form class="d-flex d-lg-none mb-2" role="search">
          <input
            class="form-control"
            type="search"
            placeholder="{{ 'HEADER.SEARCH' | translate }}"
            aria-label="Search"
          />
          <button class="btn" type="submit">
            <span class="fa-solid fas fa-search"></span>
          </button>
        </form>

        <ul id="this-freelancer-menu" class="navbar-nav mb-2 mb-lg-0">
          @if ((freelancer$ | async) === null) {
            <li class="nav-item">
              <a
                (click)="hideHamburgerMenu()"
                class="nav-link active"
                routerLink="/auth/login"
              >
                {{ "GENERAL.LOGIN" | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a
                (click)="hideHamburgerMenu()"
                class="nav-link"
                routerLink="/auth/register"
              >
                {{ "GENERAL.REGISTER" | translate }}
              </a>
            </li>
          } @else {
            <li class="nav-item dropdown">
              <a
                id="this-freelancer-name"
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                @if ((freelancer$ | async)?.image) {
                  <img
                    src="(freelancer$ | async)?.image"
                    [alt]="
                      (freelancer$ | async)?.firstName +
                      ' ' +
                      (freelancer$ | async)?.lastName +
                      ' image'
                    "
                  />
                } @else {
                  <span class="fa-regular fa-circle-user"></span>
                }

                &nbsp;

                {{ (freelancer$ | async)?.firstName }}
                {{ (freelancer$ | async)?.lastName }}
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a
                    (click)="onLogoutClick()"
                    href="javascript:void(0)"
                    class="dropdown-item"
                  >
                    <span class="fa-solid fa-arrow-right-from-bracket"></span>

                    &nbsp;

                    <span>
                      {{ "GENERAL.LOGOUT" | translate }}
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
</header>
