.navbar.navbar-expand-lg {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 0px var(--app-shadow-blur) var(--app-shadow-spread)
    var(--app-shadow-color);
  background-color: var(--app-color-primary);
  padding: 0;

  .container-fluid {
    padding: 0;
  }

  .app-logo {
    text-decoration: none;
  }

  .navbar-toggler {
    box-shadow: none;
    border: none;
    color: var(--app-color-white);
  }

  a {
    display: flex;
    height: 56px;
    align-items: center;
    color: var(--app-color-white);
    padding: 0 1rem;
    transition: var(--app-transition-time);
  }

  a:hover {
    background-color: var(--app-color-primary-hover);
    transition: var(--app-transition-time);
  }

  /* Desktop centered search bar */
  #this-desktop-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
  }

  #this-freelancer-menu {
    margin-left: auto;
  }

  #this-freelancer-name {
    img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }

  form {
    padding: 0 1rem;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: none;
    }

    button {
      background-color: var(--app-color-white);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    button:hover {
      background-color: var(--bs-gray-200);
    }
  }

  .dropdown-menu {
    color: var(--app-color-white);
    background-color: var(--app-color-primary);
    width: 100%;
    padding: 0;
    margin-top: 0;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    a:last-of-type {
      border-bottom-left-radius: var(--bs-border-radius);
      border-bottom-right-radius: var(--bs-border-radius);
    }
  }

  .collapse.navbar-collapse.show {
    .dropdown-menu a {
      padding-left: 2rem;
    }
  }
}
