#this-new-freelancers {
  margin-top: 3rem;

  > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a.card {
      text-decoration: none;
      text-align: center;
      width: 100%;
      max-width: 300px;
      margin-bottom: 2rem;
      transition: var(--app-transition-time);

      .this-freelancer-image {
        padding-top: var(--bs-card-spacer-y);
        text-align: center;

        img,
        span {
          display: inline-block;
        }

        img {
          width: var(--app-profile-picture-full-size);
          height: var(--app-profile-picture-full-size);
        }
      }

      .card-title {
        text-align: center;
      }

      .this-freelancer-infos {
        display: flex;

        div:first-child {
          text-align: left;
        }

        div:last-child {
          flex-grow: 1;
          text-align: right;
        }
      }
    }

    a.card:hover {
      box-shadow: 0px 0px var(--app-shadow-blur) var(--app-shadow-spread)
        var(--app-shadow-color-dark);
      transition: var(--app-transition-time);
    }

    @media screen and (max-width: 992px) {
      .card {
        max-width: 48% !important;
      }
    }

    @media screen and (max-width: 768px) {
      .card {
        max-width: 48% !important;
      }
    }

    @media screen and (max-width: 400px) {
      .card {
        max-width: 100% !important;
      }
    }
  }
}
