<div class="container">
  <form [formGroup]="formGroup()">
    <div id="this-search" class="mb-3">
      <input
        formControlName="query"
        class="form-control"
        type="text"
        placeholder="{{ 'HEADER.SEARCH' | translate }}"
      />

      <button
        [disabled]="formGroup().invalid || !isPriceRangeValid"
        (click)="onSearchClick()"
        class="btn btn-primary"
        type="submit"
      >
        <span class="fa-solid fas fa-search"></span>
      </button>
    </div>
  </form>

  <div id="this-filters" class="row">
    <div class="col-12 col-md-4 mb-3">
      <ng-select
        [(ngModel)]="selectedCountries"
        [items]="countriesService.countries"
        [multiple]="true"
        [closeOnSelect]="false"
        bindLabel="name"
        bindValue="code"
        placeholder="{{ 'SEARCH_PAGE.SELECT_COUNTRY' | translate }}"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <label style="display: flex; align-items: center; gap: 8px">
            <input
              id="this-country-{{ index }}"
              type="checkbox"
              [checked]="item$.selected"
              (click)="$event.stopPropagation()"
            />
            {{ item.name }}
          </label>
        </ng-template>

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          {{
            items?.length === 0
              ? ("SEARCH_PAGE.SELECT_COUNTRY" | translate)
              : items.length === 1
                ? ("SEARCH_PAGE.COUNTRY_SELECTED" | translate)
                : items.length +
                  " " +
                  ("SEARCH_PAGE.COUNTRIES_SELECTED" | translate)
          }}
        </ng-template>
      </ng-select>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <ng-select
        [(ngModel)]="selectedLanguages"
        [items]="languagesService.languages()"
        [multiple]="true"
        [closeOnSelect]="false"
        bindLabel="name"
        bindValue="code"
        placeholder="{{ 'SEARCH_PAGE.SELECT_LANGUAGE' | translate }}"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <label style="display: flex; align-items: center; gap: 8px">
            <input
              id="this-language-{{ index }}"
              type="checkbox"
              [checked]="item$.selected"
              (click)="$event.stopPropagation()"
            />
            {{ item.name }}
          </label>
        </ng-template>

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          {{
            items?.length === 0
              ? ("SEARCH_PAGE.SELECT_LANGUAGE" | translate)
              : items.length === 1
                ? ("SEARCH_PAGE.LANGUAGE_SELECTED" | translate)
                : items.length +
                  " " +
                  ("SEARCH_PAGE.LANGUAGES_SELECTED" | translate)
          }}
        </ng-template>
      </ng-select>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <form [formGroup]="formGroup()">
        <app-input
          [id]="'this-min-hourly-rate'"
          [placeholder]="'GENERAL.MIN' | translate"
          [prependIcon]="'fa-solid fa-dollar-sign'"
          [type]="'number'"
          [min]="5"
          [control]="'minHourlyRate'"
          [haveErrorBorder]="!isPriceRangeValid"
        ></app-input>

        <span>&nbsp;/{{ "GENERAL.HOUR" | translate }}</span>

        <app-input
          [id]="'this-max-hourly-rate'"
          [placeholder]="'GENERAL.MAX' | translate"
          [prependIcon]="'fa-solid fa-dollar-sign'"
          [type]="'number'"
          [max]="100"
          [control]="'maxHourlyRate'"
          [haveErrorBorder]="!isPriceRangeValid"
        ></app-input>

        <span>&nbsp;/{{ "GENERAL.HOUR" | translate }}</span>
      </form>
    </div>
  </div>

  <hr />

  <div id="this-search-results" class="mb-3">
    @if (onSearch() === "success") {
      @for (freelancer of freelancers(); track freelancer) {
        <a
          routerLink="/freelancer/{{ freelancer._id }}"
          class="this-freelancer"
        >
          <div class="this-freelancer-header mb-3">
            <div>
              @if (freelancer.image) {
                <img
                  [src]="freelancer.image"
                  alt="{{ freelancer.firstName }} {{
                    freelancer.lastName
                  }} image"
                  class="rounded-circle"
                />
              } @else {
                <span class="fa-regular fa-circle-user fa-3x"></span>
              }
            </div>
            <div>
              <h5>{{ freelancer.firstName }} {{ freelancer.lastName }}</h5>
            </div>
          </div>

          <div class="this-freelancer-title">
            <h6>{{ freelancer.title }}</h6>
          </div>

          <div class="this-freelancer-rate-location mb-3">
            <span>
              ${{ freelancer.hourlyRate }}/{{ "GENERAL.HOUR" | translate }}
            </span>
            <span>&nbsp;·&nbsp;</span>
            <span class="fa-solid fa-location-pin"></span>
            <span>
              {{
                countriesService.getCountryName(freelancer.location.countryCode)
              }}
            </span>
          </div>

          <div class="this-freelancer-skills mb-3">
            @for (skill of freelancer.skills; track skill) {
              <span class="app-skill">{{ skill }}</span>
            }
          </div>

          <div class="this-freelancer-description mb-3">
            <p>{{ freelancer.presentationText }}</p>
          </div>
        </a>

        <hr />
      }
    } @else if (onSearch() === "true") {
      <div class="app-loader"></div>
    }

    @if (
      onSearch() !== "true" &&
      onSearch() !== "false" &&
      freelancers().length === 0
    ) {
      <p class="text-center mt-5">{{ "SEARCH_PAGE.NOT_FOUND" | translate }}</p>
    }
  </div>

  @if (onSearch() === "success" && pages().length) {
    <div id="this-search-pagination">
      <ul class="pagination justify-content-center">
        @if (pages().length <= 4) {
          @for (page of pages(); track page) {
            <li [class.active]="currentPage() === page">
              <a
                [routerLink]="['./']"
                [queryParams]="{ page }"
                [queryParamsHandling]="'merge'"
                class="page-link"
              >
                {{ page }}
              </a>
            </li>
          }
        } @else {
          @if (currentPage() <= 3) {
            @for (page of [1, 2, 3, 4]; track page) {
              <li [class.active]="page === currentPage()" class="page-item">
                <a
                  [routerLink]="['./']"
                  [queryParams]="{ page }"
                  [queryParamsHandling]="'merge'"
                  class="page-link"
                >
                  {{ page }}
                </a>
              </li>
            }

            @if (pages().length > 5) {
              <li class="page-item">
                <a class="page-link page-link-empty">...</a>
              </li>
            }

            <li class="page-item">
              <a
                [routerLink]="['./']"
                [queryParams]="{ page: pages().length }"
                [queryParamsHandling]="'merge'"
                class="page-link"
              >
                {{ pages().length }}
              </a>
            </li>
          } @else if (currentPage() > pages().length - 3) {
            <li class="page-item">
              <a
                [routerLink]="['./']"
                [queryParams]="{ page: 1 }"
                [queryParamsHandling]="'merge'"
                class="page-link"
              >
                1
              </a>
            </li>

            @if (pages().length > 5) {
              <li class="page-item">
                <a class="page-link page-link-empty">...</a>
              </li>
            }

            @for (page of pagesEnd(); track page) {
              <li [class.active]="page === currentPage()" class="page-item">
                <a
                  [routerLink]="['./']"
                  [queryParams]="{ page }"
                  [queryParamsHandling]="'merge'"
                  class="page-link"
                >
                  {{ page }}
                </a>
              </li>
            }
          } @else {
            <li class="page-item">
              <a
                [routerLink]="['./']"
                [queryParams]="{ page: 1 }"
                [queryParamsHandling]="'merge'"
                class="page-link"
              >
                1
              </a>
            </li>

            <li class="page-item">
              <a class="page-link page-link-empty">...</a>
            </li>

            @for (page of pagesIn(); track page) {
              <li [class.active]="currentPage() === page" class="page-item">
                <a
                  [routerLink]="['./']"
                  [queryParams]="{ page }"
                  [queryParamsHandling]="'merge'"
                  class="page-link"
                >
                  {{ page }}
                </a>
              </li>
            }

            <li class="page-item">
              <a class="page-link page-link-empty">...</a>
            </li>

            <li class="page-item">
              <a
                [routerLink]="['./']"
                [queryParams]="{ page: pages().length }"
                [queryParamsHandling]="'merge'"
                class="page-link"
              >
                {{ pages().length }}
              </a>
            </li>
          }
        }
      </ul>
    </div>
  }
</div>
