footer {
  margin: 1rem 0;

  ul {
    li,
    li a {
      color: var(--bs-secondary);
      transition: var(--app-transition-time);
      text-decoration: none;
    }

    li a:hover {
      color: var(--bs-body-color);
      transition: var(--app-transition-time);
    }
  }

  .col-12 {
    ul {
      list-style-type: none;
      margin: 0 0.5rem;
      padding: 0;
    }
  }

  .col-12:nth-child(2) {
    li {
      display: inline-block;
    }

    li:nth-child(2) {
      margin-left: 1rem;
    }
  }
}
