.this-skill {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--bs-border-radius);
  background-color: var(--app-skills-color);

  input {
    outline: none;
    border: none;
    background-color: var(--app-skills-color);
  }
}

.this-skill:hover {
  cursor: pointer;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

#this-add-skill-button {
  border: none;
  border-radius: 100%;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  background-color: var(--app-skills-color);
  transition: var(--app-transition-time);
}

#this-add-skill-button:hover {
  background-color: #ccc;
  transition: var(--app-transition-time);
}
