/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

/* Custom variables */
:root {
  --app-shadow-blur: 10px;
  --app-shadow-spread: 5px;
  --app-shadow-color: #ddd;
  --app-shadow-color-dark: #ccc;

  --app-color-white: #fff;
  --app-color-primary: #104c68;
  --app-color-primary-hover: #0d6791;

  --app-skills-color: #eee;

  --app-transition-time: 0.2s;

  --app-profile-picture-full-size: 128px;
}

/* Custom CSS */

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: Inter;
}

.app-auth-card {
  max-width: 400px;
  margin: 50px auto;
  border: none;
  box-shadow: 0px 0px var(--app-shadow-blur) var(--app-shadow-spread)
    var(--app-shadow-color);

  .card-title {
    margin: 1.5rem 0;
  }

  .card-body {
    padding-top: 0;
  }

  @media screen and (max-width: 500px) {
    margin-top: 0 !important;
    box-shadow: unset !important;
  }
}

.app-logo {
  font-weight: bold !important;
  font-style: italic !important;
}

.app-skill {
  display: inline-block;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--bs-border-radius);
  background-color: var(--app-skills-color);
}

/* Bootstrap customization */
.card {
  border: none;
  box-shadow: 0px 0px var(--app-shadow-blur) var(--app-shadow-spread)
    var(--app-shadow-color);
}

.form-control {
  border-radius: var(--bs-border-radius) !important;
}

.form-control,
.form-select,
.form-floating {
  transition: var(--app-transition-time);
}

.form-control:focus,
.form-select:focus,
.form-floating:focus-within {
  box-shadow: none;
  border-color: var(--bs-body-color);
  transition: var(--app-transition-time);
}

.btn,
.btn:disabled,
.btn:hover {
  transition: var(--app-transition-time);
}

.btn-primary,
.btn-primary:disabled {
  border-color: var(--app-color-primary);
  background-color: var(--app-color-primary);
}

.btn-primary:hover {
  border-color: var(--app-color-primary-hover);
  background-color: var(--app-color-primary-hover);
}

.btn-outline-primary {
  border-color: var(--app-color-primary);
  color: var(--app-color-primary);
}

.btn-outline-primary:hover {
  border-color: var(--app-color-primary);
  background-color: var(--app-color-primary);
}

.form-check-input:checked {
  background-color: var(--app-color-primary);
  border-color: var(--app-color-primary);
}

.form-check-input:focus {
  box-shadow: unset;
}

.carousel {
  .carousel-inner {
    border-radius: var(--bs-border-radius) !important;
  }

  .carousel-indicators {
    button {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 100%;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 0;
  }

  .picsum-img-wrapper {
    img {
      width: 100%;
    }
  }
}

.nav-pills {
  .nav-link {
    color: var(--bs-body-color);
    transition: var(--app-transition-time);
  }

  .nav-link:hover {
    color: var(--app-color-white);
    background-color: var(--app-color-primary);
    transition: var(--app-transition-time);
  }

  .nav-link.active {
    background-color: var(--app-color-primary);
  }
}
