div {
  display: flex;

  input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
